<!DOCTYPE html>
<html lang="en">

<%- include(`./partials/head.ejs`);%>

<title>Product List</title>

<body>
        <nav>
                <a href="/products/new">Add a New Product</a>
        </nav>

        <h1 class="dexHead">Shop</h1>

        <div class="showContainer">

                <% Product.forEach(Product => { %>

                <a href="/products/<%=Product._id; %>">


                        <div class="showContainer">

                                <div class="name">
                                <h3 class="proName"><%=Product.name; %></h3> <br>
                        </div>

                        <div class="image">
                                <img src=<%= Product.img %> /> <br>
                        </div>
                                <div class="price">
                                <h3 class="proName"><%=Product.price; %> </h3><br>
                        </div>

                        
                </a>

                <% }) %>

        </div>
</body>

</html>