<!DOCTYPE html>
<html lang="en">

<%- include(`./partials/head.ejs`);%>

<title>Product List</title>

<body>
        <nav>
                <a href="/products/new">Add a New Product</a>
        </nav>

        <h1>Shop</h1>

        <div class="showContainer">

        <% Product.forEach(Product => { %>

        <a href="/products/<%=Product._id; %>">

                <div class="showContainer">
                <h3><%=Product.name; %></h3> <br>
                <img src=<%= Product.img %> /> <br>
                <%=Product.price; %>
        </a>

        </div>
       

        </body>
                  

        <% }) %>


</body>
</body>

</html>