<!DOCTYPE html>
<html lang="en">
	
<%- include(`./partials/head.ejs`);%>
	
	<title>Show Page</title>
	<body>
		<nav>
			<a href="/products">Back to Index</a>
		</nav>
		
		<h1><%=Product.name %></h1>
        <img src=<%= Product.img %>/>
		Price: <%= Product.price%>
		<br />
        <input type="submit" name="" value="Buy" />

		<form action="/products/<%=Product.id %>?_method=DELETE" method="POST">
		</form>
		<input type="submit" value="DELETE" />
		<a href="/products/<%=Product._id %>/edit">Edit</a>
		
	</body>
</html>
